* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

ul li {
    cursor: pointer;
    color: white;
    margin-left: 20px;
}

.imgone img {
    width: 20px;
    height: 20px;
}

.imgone11 {
    margin-left: 100px;
}

.right-menu {
    margin-left: 34%;
}

.navtwo {
    width: 100%;
    height: 25%;
}

.menupage {
    color: black;
}

.ulList {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FB2E86;
    margin-right: 30%;
}
.ulList a{
    text-decoration: none;
    margin-left: 30px;
}
.ulList a:hover{
    color: black;
}

.inputs {
    width: 200px;
    outline: none;
    margin-top: -1.5%;
    position: absolute;
    margin-left: 53%;
    border: 2px solid #E7E6EF;
    box-sizing: border-box;
}

.searchdropd {
    cursor: pointer;
    margin-top: -1.45%;
    margin-left: 67.8%;
    background: #FB2E86;
    position: absolute;
    Width: 51px;
    height: 23px;
}

.searchdropd img {
    width: 15px;
    margin-left: 15px;
}

.pageimg {
    display: flex;
    background-color: #F2F0FF;
}

.forimg {
    width: 300px;
    left: 70px;
}

.fortext1 {
    position: absolute;
    margin-left: 300px;
    width: 200px;
    height: 28px;
    margin-top: -40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    color: #FB2E86;
}

.fortext2 {
    font-weight: bold;
    font-family: Josefin Sans;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.08em;
    color: #000000;
    width: 400px;
    height: 140px;
    margin-left: 300px;
    margin-top: -100px;
}

.fortext3 {
    margin-top: -30px;
    color: #8A8FB9;
    margin-left: 300px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    width: 400px;
}

.forbutton {
    cursor: pointer;
    padding: 8px 17px;
    color: white;
    margin-left: 300px;
    margin-top: 10px;
    width: 110px;
    height: 40px;
    background: #FB2E86;
    border-radius: 4px;
}

.forseconimg {
    margin-top: -22%;
    margin-left: 60%;
    width: 400px;
    height: 400px;
}

.textss {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
    color: #1A0B5B;
}

.ofcaroucel .card {
    border-radius: 6px;
    transition: 0.4s linear;
    box-shadow: 1px 15px 20px rgba(0, 0, 0, 0.1);
    background-color: #F6F7FB;
    width: 250px;
    height: 280px;
}

.ofcaroucel .card:hover .card-footer {
    background-color: #2F1AC4;
    transition: 0.4s linear;
}

.ofcaroucel .card:hover .card-footer p {
    transition: 0.4s linear;
    color: white;
}

.ofcaroucel .card:hover .links {
    opacity: 1;
    transition: 0.4s linear;
}

.ofcaroucel .card img {
    width: 100px;
    height: 80px;
}

.ofcaroucel .card-body {
    padding: 30px 10px 0 70px;
}

.ofcaroucel .card-footer {
    padding: 15px 0 0 0;
    background-color: white;
}

.chair {
    margin-top: -10px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    color: #FB2E86;
}

.cNNJIt {
    display: none;
}

.jRFJkP {
    display: none;
}

.links {
    border-radius: 4px;
    opacity: 0;
    color: white;
    background-color: #08D15F;
    text-align: center;
    margin-top: 38%;
    margin-left: -44%;
    position: absolute;
    width: 130px;
    height: 30px;
    text-decoration: none;
}

.links:hover {
    transition: 0.4s linear;
    color: white;
}

.leattest {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    color: #151875;
}

.formenu {
    margin-top: 1%;
    text-align: center;

}

.formenu a {
    color: #323586;
    border-bottom: transparent;
    margin-left: 30px;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.formenu a:hover {
    color: #FB2E86;
    border-bottom: black;
}

.threeimg .card {
    background-color: #F7F7F7;
    border: none;
    width: 330px;
}

.threeimg .card img {
    margin-left: 20px;
}

.threeimg .card-footer {
    width: 330px;
    background-color: white;
}

.twootext p {
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 19px;
}

.twootext span {
    font-family: Josefin Sans;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #FB2448;
}

.surimg {
    background-color: white;
}

.image3png {
    margin-top: 15%;
}

.shopex {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
}

.groupweek {
    width: 250px;
    height: 300px;
}

.groupweek .card-body {
    border: none;
    background-color: white;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05)
}

.groupweek .card-body img {
    margin-top: 20%;
}

.groupweek .card-body p {
    color: #151875;
    margin-top: 10%;
    font-family: Josefin Sans;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
}

.groupweek .card-body h5 {
    font-weight: bold;
    font-size: 17px;
    font-family: Lato;
    text-align: center;
    color: rgba(26, 11, 91, 0.3);
}

.truk {
    margin-top: 30px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: initial;
    padding-right: var(--bs-gutter-x, .0rem) !important;
    padding-left: var(--bs-gutter-x, .0rem) !important;
}

.uniqesofa {
    margin-top: 5%;
    width: 100%;
    height: 480px;
    background-color: #F1F0FF;
}

.imghouse img {
    margin-left: 35%;
    margin-top: 20%;
    width: 400px;
    height: 400px;
}

.foronetext {
    margin-left: 20%;
    margin-top: 20%;
    font-weight: bold;
    font-family: Josefin Sans;
    font-size: 30px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
}

.secondtext {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    margin-left: 18%;
    margin-top: 3%;
}

.secondtext img {
    margin: 3%;
}

.secondtext1 {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    margin-left: 18%;
}

.secondtext1 img {
    margin: 3%;
}

.secondtext2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #ACABC3;
    margin-left: 18%;
}

.secondtext2 img {
    margin: 3%;
}

.addcard {
    padding: 9px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-left: 20%;
    margin-top: 2%;
    width: 130px;
    height: 40px;
    background-color: #FB2E86;
}

.italianteaxt p {
    margin-top: 13%;
    margin-left: 15px;
    font-weight: bold;
    font-family: Josefin Sans;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #151875;
}

.p1 {
    margin-left: 15px;
    margin-top: -15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.trendingtext {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
}

.firstimg .card {
    margin-top: 5%;
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    border: none;
    padding: 10px 10px 0 10px;
    width: 250px;
    height: 330px;
}

.firstimg .card img {
    margin-left: 8%;
}

.firstimg .card-body {
    background-color: #F5F6F8;
}

.firstimg .card-footer {
    height: 100px;
    background-color: white;
}

.chairtext {
    margin-top: 5%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #151875;
}

.rubtext {
    margin-top: 2%;
    margin-left: 33%;
    font-family: Josefin Sans;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #151875;
}

.rub2text {
    margin-left: 5%;
    font-family: Josefin Sans;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(21, 24, 117, 0.3);
}

.blackchair {
    width: 200px;
}

.ockloctime {
    background: #FFF6FB;
    box-shadow: 0px 8px 20px rgba(49, 32, 138, 0.05);
}

.ockloctime1 {
    background: #FFF6FB;
    box-shadow: 0px 8px 20px rgba(49, 32, 138, 0.05);
    margin-left: 30px;
}

.presenttext {
    margin-top: 13%;
    font-family: Josefin Sans;
    font-size: 26px;
    line-height: 30px;
    color: #151875;
    margin-left: 4%;
}

.shoptext {
    margin-left: 4%;
    margin-top: 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #FB2E86;
}

.oclockimg {
    margin-left: 35%;
}

.oclockimg1 {
    margin-top: 25%;
    width: 250px;
    margin-left: 23%;
}

.ockloctime2 {
    margin-top: 5%;
    width: 325px !important;
    background: white;
    margin-left: 30px;
}


.exsactcheir {
    margin: 10px;
    padding: 20px 20px;
    width: 110px;
    height: 110px;
    background-color: #F1F0FF;
}

.exclusive {
    font-weight: bold;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #151875;
    margin-top: 20%;
    margin-left: 10px;
}

.threetwo {
    margin-left: 7%;
    font-weight: 500;
    margin-top: 5%;
    font-family: Josefin Sans;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #151875;
}

.teaxtitem {
    font-weight: bold;
    margin-top: 7%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
    color: #151875;
}

.menugroupss {
    margin-top: 3%;
    text-align: center;
}

.menugroupss a {
    margin-left: 4%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
    text-decoration: none;
    text-align: center;
}

.menugroupss a:hover {
    color: #151875;
}

.prediscount {
    margin-top: 20%;
    font-family: Josefin Sans;
    font-size: 35px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #151875;
}

.eamptext {
    margin-top: 3%;
    font-family: Josefin Sans;
    font-size: 21px;
    line-height: 132%;
    letter-spacing: 0.015em;
    color: #FB2E86;
}

.moreectext {
    margin-top: 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #B7BACB;
}

.dplaytext {
    margin-top: 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #B8B8DC;
}

.shopsgroup {
    cursor: pointer;
    padding: 10px 23px;
    width: 130px;
    height: 40px;
    background: #FB2E86;
    border-radius: 2px;
    font-family: Josefin Sans;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.toptext {
    margin-top: 5%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
    color: #151875;
}

.borderradius {
    margin-left: 70px;
    box-shadow: 0px 8px 20px rgba(49, 32, 138, 0.05);
    border-radius: 55%;
    background-color: #F6F7FB;
    width: 200px !important;
    height: 200px;
}

.borderradius img {
    margin-top: 17%;
    margin-left: 10%;
    width: 130px;
    height: 130px;
}

.lwctext {
    font-weight: 500;
    margin-top: 33%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 20px;
    line-height: 23px;
    color: #151875;
}

.lwctext p {
    font-weight: 500;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 19px;
    color: #151875;
}

.baccimg {
    height: 400px;
}

.baccimg img {
    height: 350px;
}

.bacvtext {
    font-weight: bold;
    margin-top: -20%;
    padding: 0 15%;
    font-family: Josefin Sans;
    font-size: 35px;
    line-height: 155%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #151875;
}

.bacbutton {
    cursor: pointer;
    font-family: Josefin Sans;
    margin-top: 5%;
    margin-left: 46%;
    padding: 7px 25px;
    position: absolute;
    background-color: #FB2E86;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 130px;
    height: 40px;
}

.topimg {
    margin-left: 7%;
    margin-top: 7%;
}

.blogtext {
    margin-top: 7%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 42px;
    line-height: 49px;
    color: #151875;
}

.sabeltext {
    font-family: Josefin Sans;
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}

.sabeltext1 {
    margin-left: 20%;
    font-family: Josefin Sans;
    font-size: 14px;
    line-height: 16px;
    color: #151875;
}

.sabeltext img {
    margin-top: -2%;
}

.trendtext {
    margin-top: 7%;
    font-weight: 600;
    font-family: Josefin Sans;
    font-size: 20px;
    line-height: 21px;
    color: #151875;
}

.offthistext {
    margin-top: 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #72718F;
}

.readmoretext {
    border-radius: 5px;
    padding: 3px 22px;
    border: 2px solid darkmagenta;
    margin-top: 4%;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #151875;
}

.readmoretext:hover {
    background-color: #FB2E86;
    color: white;
}

.shodcard {
    box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
    border-radius: 5px;
}

.bacfooter {
    position: revert;
    margin-top: 5%;
    height: 450px;
    background-color: #EEEFFB;
}

.branimg {
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
}

.inpufor {
    outline: none;
    width: 230px;
    height: 35px;
    margin-top: 10%;
    box-shadow: none;
    border: none;
    opacity: 0.45;
    border-radius: 3px;
}

.singinputfor {
    cursor: pointer;
    color: white;
    padding: 4px 12px;
    position: absolute;
    margin-top: 10.3%;
    margin-left: 51.4%;
    background: #FB2E86;
    border-radius: 3px;
    height: 33px;
    width: 80px;
}
.contacttext{
    margin-top: 5%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8A8FB9;
}
.seventext{
    margin-top: 3%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #8A8FB9;
}
.cotgeriatext{
    font-weight: 600;
    font-family: Josefin Sans;
    font-size: 23px;
    line-height: 26px;
    color: #000000;
}
.branimg1 {
    position: absolute;
    margin-top: 7%;
    margin-left: 40%;
}
.branimg2 {
    position: absolute;
    margin-top: 7%;
    margin-left: 58%;
}
.branimg3 {
    position: absolute;
    margin-top: 7%;
    margin-left: 75%;
}
.alltext{
    margin-top: 7%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8A8FB9;
}
.footermenus{
    margin-top:31%;
    position: absolute;
    width: 100%;
    background: #E7E4F8;
    height: 50px;
}
.webecytext{
   padding: 17px 190px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #9DA0AE;
}
.widthimg{
    margin-left: 15px;
    width: 35px;
    height: 35px;
}
.footerimgs{
    cursor: pointer;
    margin-top: 0.7%;
    margin-left: 20%;
}
@media (max-width: 378px) {
.imgone{
    width: 10px;
}
    .menupage{
        display: flex;
        font-size: 8px;
    }
    .navbar-brand{
        width: 10px;

    }
}


